[core]
    editor = sublime
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[user]
    name = David Clark
    email = davidedwardclark@gmail.com

[github]
    user = davidedwardclark

[color]
    ui = always

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
    
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
